/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* Header */
.site-header {
  background-color: #ffffff;
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.site-header h1 {
  margin: 0;
  font-size: 28px;
  color: #333333;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.main-nav button {
  padding: 10px 20px;
  background-color: #666666;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.main-nav button:hover {
  background-color: #555555;
}

.product-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none; /* Oculto por defecto, puede mostrarse con JS */
}

/* BARRA DE BÚSQUEDA (Header) */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 190px;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 38px;
  padding-left: 2.5rem;
  box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
  border: 0;
  border-radius: 10px;
  background-color: #16171d;
  outline: none;
  color: #bdbecb;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.input::placeholder {
  color: #bdbecb;
}

.input:hover {
  box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
}

.input:active {
  transform: scale(0.95);
}

.input:focus {
  box-shadow: 0 0 0 2.5px #2f303d;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #bdbecb;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}

/* PÁGINA DE PRODUCTOS */

.products-page {
  display: flex;
  gap: 24px;
  padding: 24px;
}


.filters {
  width: 260px;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  height: fit-content;
  position: sticky;
  top: 100px;
}

.filters h2 {
  margin-bottom: 16px;
}

.filter-group {
  margin-bottom: 20px;
}

.filter-group h3 {
  margin-bottom: 8px;
}

.filter-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

.filter-group input[type="text"] {
  width: 90%;
  padding: 8px;
}

.products {
  flex: 1;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover{
  transform: translateY(-4px);
}

.card img {
  max-width: 100%;
  height: 180px;
  object-fit: contain;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 12px 0 8px;
}

.card p {
  font-size: 14px;
  margin-bottom: 4px;
}
