
/* Responsividad */
@media (max-width: 768px) {
  .site-header {
    padding: 15px;
  }

  .site-header h1 {
    font-size: 24px;
  }

  .main-nav {
    flex-direction: column;
    gap: 10px;
  }

  .modal-content {
    padding: 15px;
    max-width: 90%;
  }

  .modal-content h2 {
    font-size: 20px;
  }

  .modal-content input,
  .modal-content button {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .main-nav button {
    width: 100%;
    font-size: 14px;
  }
}

/* PAGINA PRODUCTOS */
@media (max-width: 1024px) {
  .products-page {
    grid-template-columns: 200px 1fr;
  }

  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .products-page {
    grid-template-columns: 1fr;
  }

  .products-grid {
    grid-template-columns: 1fr;
  }
}
